*{
    margin: 0;
    padding: 0;
}

body{

    background-color: yellowgreen;
}

.card {
    display: inline-flex;
    background-color: brown;
    width: 40vw;
    height: 25vh;
}

.text-info{
    text-align: center;
    display: inline-block;
    height: 29%;
}

.card-inner, .img-contact{
    display: flex;
    width: 49%;
    height: 99%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-contact{
    width: 150px;
    height: 150px;
}

#cards-list, .form-and-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 45vh;
}

.form-and-cards{
    display: inline-block;
    width: 80vw;
    height: 91vh;
}

.form-text{
    display: block;
    margin: 10px;
}

.form-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form{
    display: block;
    margin: 10px;
}

#cards-icon{
    display: inline-block;
    width: 19vw;
    height: 92vh;
    overflow: scroll;
}

.icons-input{
    display: none;
}

.container{
    display: inline-flex;
    width: 100vw;
    height: 91vh;
}

.icon{
    width: 10vw;
    height: 10vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

h4{
    display: block;
    font-size: 10px;
    background-color: aqua;
    text-align: center;
    height: 100px;
    width: 100px;
}

.title{
    display: inline-flex;
    width: 100vw;
    justify-content: center;
}

.modal{
    display: none;
}

.modal.active{
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.modal-edit, .modal-post-user, .modal-delete {
    display: none;
}

.modal-edit.active, .modal-post-user.active, .modal-delete.active{
    display: flex;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    width: 300px;
    height: 300px;
    align-items: center;
    flex-flow: column;
}

.send-data-question{
    display: flex;
    height: 40%;
    align-items: center;
}

button{
    width: 80Spx;
    height: 25px;
    margin: 15px;
}
